{% load static %}
<!DOCTYPE html>


<html lang="en" style="background-color: black">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>NITK Club Recruitment</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'Portalapp/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'Portalapp/css/simple-sidebar.css' %}" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav" id="listd">
                <li class="sidebar-brand">
                    <a href="{% url 'Portalapp:index' %}"id = "sidetitle">
                        NITK Club Recruitment
                    </a>
                </li>
                <li>
                    <a href="{% url 'Portalapp:index' %}">Home</a>
                </li>
                <li>
                    <a href="{% url 'Portalapp:ieee' %}">IEEE</a>
                </li>
                <li>
                    <a href="{% url 'Portalapp:acm' %}">ACM</a>
                </li>
                <li>
                    <a href="{% url 'Portalapp:rotaract' %}">Rotaract</a>
                </li>
                <li>
                    <a href="{% url 'Portalapp:iste' %}">ISTE</a>
                </li>
                <li>
                    <a href="{% url 'Portalapp:ie' %}">IE</a>
                </li>
                <li>
                    <a href ="{% url 'Portalapp:iet' %}">IET</a>
                </li>
                   
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <center>
                <div id="mainhead">
                  <h1 id="headingtext"><strong>NITK Club Recruitment</strong></h1>
                </div>
                <center>
                    <hr>
                    <div id="details" >
                        <h2 id="detailhead" >Exclusive Clubs at NITK</h2>
                        <p id="detailp">Effectively there are 6 Exclusive Clubs in NITK.
                            While all of them are not open to recruitments for First Years, all of them conduct events for First Years and some of them like IEEE have a Student Membership Drive for First Years.
                        They include:</p>
                    <ul id="listd">
                        <li>IEEE</li>
                        <li>ACM</li>
                        <li>IET</li>
                        <li>Rotaract</li>
                        <li>ISTE</li>
                        <li>IE</li>
                    </ul>
                    <p id="detailp">Hover over the image below, and 'Apply Now' to recieve details on the clubs and let us know you want to join!</p>
                
                </div>
                <hr>
                        <div id="gi">
                   <div id="appear"> <p id="gitext">GET INVOLVED</p><a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">APPLY NOW</a>
                </div></div>
                <hr>
                <div id="cred" ><p>Akash Nair  •  Harsh Prakash Gupta  •  2018  •  IEEE<p></div>
            </center>
                </center>
            </div>
        </div>
        <div>

        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'Portalapp/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'Portalapp/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>
