<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>NITK Club Recruitment</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/simple-sidebar.css" rel="stylesheet">

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#" id = "sidetitle">
                        NITK Club Recruitment
                    </a>
                </li>
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="sub/ieee.html">IEEE</a>
                </li>
                <li>
                    <a href="sub/acm.html">ACM</a>
                </li>
                <li>
                    <a href="sub/rotaract.html">Rotaract</a>
                </li>
                <li>
                    <a href="sub/iste.html">ISTE</a>
                </li>
                <li>
                    <a href="sub/ie.html">IE</a>
                </li>
                <li>
                    <a href ="sub/iet.html">IET</a>
                </li>
                   
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <center>
                <div id="mainhead">
                  <h1 id="headingtext"><strong>NITK Club Recruitment</strong></h1>
                </div>
                
                <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Apply</a>
                </center>
            </div>
        </div>
        <div>

        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>
